.about {
    background-color: #505050;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3vh 3vw 3vh 3vw;
}

.about p {
    padding: 5vh 5vw 0 5vw;
    color: white;
    font-family: Open Sans;
    margin: 0;
    text-align: center;
}

.technical-skills {
    margin: auto;
    margin-top: -9vh;
    width: 60vw;
    height: 60vh;
    font-family: Open Sans;
    color: #505050;
    background-color: white;
    -webkit-box-shadow: 3px 7px 16px -3px rgba(74,74,74,0.73);
    -moz-box-shadow: 3px 7px 16px -3px rgba(74,74,74,0.73);
    box-shadow: 3px 7px 16px -3px rgba(74,74,74,0.73);
    border-radius: 25px;
    text-align: center;
    padding: 2vh 2vw 2vh 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.skill {
    font-family: Open Sans;
    width: 20vw;
    height: inherit;
    padding-top: 5vh;
}

.skill h2 {
    color: #505050;
    font-weight: bold;
    font-size: 2.3vh;
}

.skill h3 {
    color: #505050;
    font-size: 2vh;
}

.skill p {
    color: black;
    font-size: 1.5vh;
}

.skill-icon {
    font-size: 5vh;
    padding-bottom: 2vh;
}

.scroll-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6vh 0 5vh 0;
}

.scroll-projects h1 {
    font-size: 3vh;
}

.down-projects {
    color: black;
    font-size: 3vh;
    transition: all .2s ease-in-out;
}

.down-projects:hover {
    transform: scale(1.5);
}

.projects {
    height: 100vh;
    background-color: aquamarine;
}